/* styles.css */
.animated-word::after {
  content: "Smart";
  animation: changeWord 8s infinite;
}

@keyframes changeWord {
  0% {
    content: "Smart";
  }
  20% {
    content: "Intelligent";
  }
  40% {
    content: "智能的";
  }
  60% {
    content: "स्मार्ट";
  }
  80% {
    content: "Inteligente";
  }
  100% {
    content: "Smart";
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.feature-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.75rem;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
